.SearchBarDiv {
  padding: 20px 20px 150px 10px;
  background-color: #e3e3e3;
}
.containerDiv {
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerDiv > span {
  padding: 10px;
  background-color: #fff;
}
input {
  width: 100%;
  border: 0;
  outline: none;
  padding: 10px 0;
}
